<div class="container">
  <h1>
    {{title}}
  </h1>
  <!--when we use form tag angular automatically adds a directive to this form-->
  <!--#form is the template reference variable (the instance of a directive)-->
  <!--so the directive added to the form is called ngForm-->
  
  <!--we add novalidate to avoid different browser validation errors-->
  <form #form="ngForm" novalidate>

    <div class="form-group">
      <label>First Name</label>
      <!--to tell ng about a field we add a name and ngModel-->
      <!--form-control bootstrap class takes the whole width of our viewport-->
      <input class="form-control" type="text" name="firstName" [(git )]="model.firstName">
    </div>

    <!--<div class="form-group">
      <label>First Name</label>
      <input class="form-control" type="text" name="firstName" ngModel>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" name="is-full-time" ngModel>Full Time Employee
      </label>
    </div>

    <div class="radio">
      <label>
        <input type="radio" name="pay-type" value="w2" checked>w2
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="pay-type" value="1099">1099
      </label>
    </div>

    <div class="form-group">
      <label>Primary Language</label>
      <select class="form-control">
        <option *ngFor="let lang of languages" >
          {{ lang }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label>Date Hired</label>
      <input class="form-control" type="date">
    </div>-->

    <button class="btn btn-primary" type="submit">OK</button>
  </form>

  Model: {{ model | json }}
  <br>
  <!--check angular form value-->
  Angular: {{ form.value  | json }}
  
</div>

<!--we can access directly to the template reference variable from this template-->
<!--pristine will tell us if the user touched this form-->
<!--{{ form.pristine }} -->